<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>evans-server1.2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <context-param>
    <param-name>server-hostname</param-name>
    <param-value>http://10.0.1.13:8080</param-value>
  </context-param>
  <resource-env-ref>
    <description>
			Factory for the Arduino Connection
		</description>
    <resource-env-ref-name>
			arduino/ArduinoConnectionFactory
		</resource-env-ref-name>
    <resource-env-ref-type>
			br.com.evans.jndi.arduino.ArduinoConnection
		</resource-env-ref-type>
  </resource-env-ref>
  <resource-env-ref>
    <description>
			Factory for EVANS Device Monitor
		</description>
    <resource-env-ref-name>
			states/DeviceMonitorFactory
		</resource-env-ref-name>
    <resource-env-ref-type>
			br.com.evans.jndi.states.DeviceMonitor
		</resource-env-ref-type>
  </resource-env-ref>
  <resource-env-ref>
    <description>
			Factory for EVANS Music Player
		</description>
    <resource-env-ref-name>
			music/MusicPlayerFactory
		</resource-env-ref-name>
    <resource-env-ref-type>
			br.com.evans.jdni.music.MusicPlayer
		</resource-env-ref-type>
  </resource-env-ref>
  <resource-env-ref>
    <description>
			Factory for EVANS MongoDB NOSQL Connection
		</description>
    <resource-env-ref-name>
			db/MongoDBConnectionFactory
		</resource-env-ref-name>
    <resource-env-ref-type>
			br.com.evans.jndi.db.MongoDBConnection
		</resource-env-ref-type>
  </resource-env-ref>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>br.com.evans.servlet.filters.SessionFilter</filter-class>
    <async-supported>true</async-supported>
    <init-param>
      <param-name>avoid-urls</param-name>
      <param-value>/index.jsp,/login.jsp,/css,/js,/ico,/plugins,/img,/Login</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>