node_modules
app/bower_components
.idea
reports
front/node_modules
*templates.js
.protractor-failed
app/deploy/
npm-debug.log
system-config.js*
app/modules/**/*.js
app/modules/**/*.map
!app/modules/app.js
